{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<!--     <style type="text/css">
      body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .title{
        text-align: center;
      }
    </style> -->
	</head>
	<body>
    

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }} 
        <!--<input type = "text"> -->
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
    {% for group in groups %}
    <p>
      {{group.name}}
    </p>
    {% endfor %}

<!-- 		<div class="title">
      <h1>Thread </h1>
    </div>
    <div>
      <div>
       
      </div>
      <div>
       
      </div>
      <div>
       
      </div>
      <div>
        <button class="button"><img src="https://i.pinimg.com/originals/32/84/c5/3284c585c8075806fe9d4f582fd1fdf6.png" style="width:100px; padding: 35px;"></button>
        <button class="button"><img src="https://i.pinimg.com/originals/50/52/35/505235a9a692b90249295a5935062d5c.png" style="width:100px; padding: 35px;"></button>
        <button class="button"><img src="https://i.pinimg.com/564x/69/b3/8d/69b38d44ce46d9c3699ce1b4547a6758.jpg" style="width:100px; padding: 35px;"></button>
        <button class="button"><img src="https://i.pinimg.com/564x/89/bd/78/89bd78721e3d26897a36425886ac4734.jpg" style="width:100px; padding: 35px;"></button>
        <button class="button"><img src="https://i.pinimg.com/564x/fb/48/8f/fb488f7cfde3481d8071bd28437d499e.jpg" style="width:100px; padding: 35px;"></button>
      </div>
    </div>
 -->
	</body>
</html>